*, *:after, *:before {
  box-sizing: border-box;
}
body {
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 14px;
  background: url("https://images.unsplash.com/photo-1535131749006-b7f58c99034b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-size: cover;
  /* background-color: darkgreen; */
  /* background: linear-gradient(135deg, rgb(144, 187, 109) 0%,rgb(135, 193, 87) 100%); */
  margin: 0;
  padding: 0; 
}

h1 {
  font-size: 15px;
  color: black;
  text-align: center;
}
h4 {
  text-align: center;
  font-size: 15px;
  color: black;
}
header {
  text-align: center;
  font-size: 30px;
}
input[type=text],input[type=email], select, textarea {
  width: 100%;
  color: black;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
label {
  color: lightblue;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  align-content: center;
  padding: 20px;
}
@keyframes translateBackground{
  0%{
    background-position-x:0;
  }
  100%{
    background-position-x:-600px;
  }
}