.navbar-nav {
    padding-left: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    transition: 1s;
    opacity: .5;
 }
 .navbar-nav.collapsed {
  height: 45px;
  overflow: hidden;
  opacity: 0;
 
 }
 button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: transparent;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease-in;
      
    -webkit-appearance: none;
    -moz-appearance: none;
 }
 
 button:hover,
 button:focus {
    background: transparent;
 }
 
 button:focus {
    outline: 1px solid red;
    outline-offset: -4px;
 }
 
 button:active {
    transform: scale(0.70);
 }
 /* .navbar-header h4 {
    outline: solid 2px red; 
    margin-top: 0px;
 } */